*{
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    color: white;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
}

a:visited {
    color: white;
}

body {
    background-color: hsl(240, 58%, 18%);
    width: 100%;
    background-image: url('https://i.pinimg.com/originals/33/11/92/3311924db62ceef62a4a7ee87017280f.jpg');
    background-attachment: fixed;
    background-size: 110%;
}

header {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    height: 11rem;
}

.header-main-bar {
    align-items: center;
    flex: 2;
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.header-sub-bar {
    display: flex;
    gap: 3rem;
    flex: 1;
    background-color: hsl(269, 42%, 29%);
    width: 100%;
    height: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.brand {
    margin-left: 18rem;
    gap: 2rem;
    display: flex;
}


.logo svg{
    align-items: center;
    width: 2rem;
    height: 2rem;
    scale: 2;
}

.register{
    display: flex;
    align-items: center;
}


.languages {
    font-size: 15px;
    color: white;
    width: 36%;
    height: 2rem;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin-right: 5rem;
}
.search-bar {
    display: flex;
    width: 15%;
    transform: translateX(15rem);
}

.cart svg{
    cursor: pointer;
}

input[type="text"] {
    padding: 12px; /* Aumenta el tamaño del padding para la barra de entrada */
    font-size: 13px; /* Aumenta el tamaño del texto en la barra de entrada */
    flex: 1;
    width: 100%;
}

.category-area{
    display: flex;
    align-items: center;
}

.category-menu{
    width: 40px;
}

.category-menu svg{
    fill: white;
    cursor: pointer;
}


main {
    width: 70%;
    height: 90vh;
    background-color: rgba(51, 51, 51, 0.884);
    margin: auto;
    display: flex;
}

.your-cart{
    flex: 2;
    margin-top: 3rem;
}

.your-cart h2{
    border-radius: 20px;
    background-color: blueviolet;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
}

.cart-title{ 
    border-radius: 20px;
    width: 100%;
}

.cart-screen{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 80%;
    height: 50vh;
    margin: auto;
}

.product-one-image{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 50%;
    height: 30%;
    margin-left: 2rem;
}

.product-one-image img{
    width: 50%;
}

.skyrim-image{
    max-width: 50%;
    max-height: 50%;
}

.product-one{
    margin-top: 3rem;
    display: flex;
}

.product-one-title h3, h4{
    color: darkgrey;
    font-family: 'Roboto', sans-serif;
}

.product-one-details{
    display: flex;
    flex: 3;
    margin: 1rem;
    height: 90%;
}

.product-one-title{
    color: dimgrey;
    display: flex;
    flex: 1;
    width: 10%;
    height: 60%;
    align-items: center;
    margin-left: 2rem;
}

.product-one-quantity{
    display: flex;
    width: 20%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.product-one-price{
    display: flex;
    width: 20%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.product-one-delete-button{
    display: flex;
    height: 60%;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.product-one-delete-button svg{
    height: 60%;
    width: 40%;
    align-items: center;
    justify-content: center;
}


.summary{
    flex: 1;
    margin-top: 3rem;
}

.summary-product-one{
    display: flex;
    height: 40%;
}

.summary-title h2{
    border-radius: 20px;
    background-color: blueviolet;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    width: 82%;
}

.summary-screen{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 60vh;
    width: 80%;
}

.total-price{
    display: flex;
    background-color: rgb(95, 95, 100);
    border-radius: 20px;
    width: 80%;
    margin: auto;
    height: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
}

.checkout{
    display: flex;
    background-color: blue;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    height: 3rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.continue-shopping{
    display: flex;
    background-color: blue;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    height: 3rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: rgb(33,33,33);
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contents{
    width: 70%;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.footer-content-one{
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.footer-content-one ul{
    color: white;
    list-style: none;
}

.footer-content-one ul li{
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    cursor: pointer;
}

.footer-separator {
    background-color: darkgray;
    height: 2px;
}

.footer-content-two{
    display: flex;
}

.footer-content-two h2{
    align-self:center
}

.footer-logo{
    align-self: center;
}

.social-media{
    display: flex;
    width: 25%;
    margin-left: auto;
    gap: 1rem;
}

.social-media svg{
    cursor: pointer;
}